/* Responsive Breakpoints for the Error pages. */
@media only all and (min-width:48rem) and (max-width:59.938rem) {
    body{
        width: 135%;
    }
    #echoerror {
        width: 530px;
        top: 9%;
        left: 17%;
    }
}@media only all and (min-width:38rem) and (max-width:47.938rem) {
    body{
        width: 135%;
    }
    #echoerror {
        width: 425px;
        top: 12%;
        left: 17%;
    }
}@media only all and (max-width:37.938rem) {
    body{
        background-position: left 30px;
        width: 700px;
    }
    #echoerror {
        width: 330px;
        top: 12%;
        left: 5%;
    }
}
